In [3]:
import pandas as pd
import sys
import os

In [5]:
datos_limpios = pd.read_csv("datos_limpios_pro.csv")

In [6]:
datos_limpios

,codigo,cod_sector,fecha,design,pantone,cantidad,suc,temporada_venta
0,B0001,101,2021-02-05,No definido,13-1022,1.50,5,Primavera-Verano
1,B0001,101,2021-06-21,No definido,13-1022,0.90,5,Otonho-Invierno
2,B0001,101,2022-12-09,No definido,14-0244,1.00,30,Primavera-Verano
3,B0001,101,2022-12-19,No definido,14-0244,2.00,30,Primavera-Verano
4,B0001,101,2023-02-08,No definido,14-0244,1.14,30,Primavera-Verano
...,...,...,...,...,...,...,...,...
1844706,S0286,104,2023-08-21,FLORAL,19-4010,5.00,4,Otonho-Invierno
1844707,S0286,104,2023-08-22,FLORAL,19-4010,2.00,4,Otonho-Invierno
1844708,S0286,104,2023-08-18,HOJAS,19-4025,2.00,1,Otonho-Invierno
1844709,S0286,104,2023-08-19,HOJAS,19-4025,0.70,1,Otonho-Invierno
1844710,S0286,104,2023-08-23,NEUTRO,11-0601,1.05,24,Otonho-Invierno

In [8]:
datos_limpios.columns

Index(['codigo', 'cod_sector', 'fecha', 'design', 'pantone', 'cantidad', 'suc',
       'temporada_venta'],
      dtype='object')

In [12]:
articulos_limpios = pd.read_csv("articulos_limpios.csv")

In [15]:
articulos_limpios.columns

Index(['Unnamed: 0', 'codigo', 'clase', 'descrip', 'cod_sector', 'um',
       'costo_prom', 'costo_cif', 'costo_fob', 'art_venta', 'art_inv',
       'art_compra', 'art_gramado', 'img', 'estado_venta', 'composicion',
       'temporada', 'ligamento', 'combinacion', 'especificaciones', 'acabado',
       'tipo', 'estetica', 'ancho', 'espesor', 'gramaje_prom', 'rendimiento',
       'produc_ancho', 'produc_largo', 'produc_alto', 'produc_costo',
       'mnj_x_lotes', 'cant_retazo', 'precio_retazo', 'sistema_liado', 'tags',
       'visible_web', 'web_min_stock', 'shopify_id', 'tipo_iva', 'estado'],
      dtype='object')

In [27]:
articulos_codigo_descrip = articulos_limpios[['codigo', 'descrip']] # Esto lo hacemos debido a que queremos agregarle el nombre de la tela a nuestro dataframe limpio.

In [28]:
articulos_codigo_descrip.columns

Index(['codigo', 'descrip'], dtype='object')

In [29]:
datos_combinados = pd.merge(datos_limpios, articulos_codigo_descrip, on='codigo', how='left')

# Imprimir el DataFrame resultante
print("DataFrame combinado:")
datos_combinados

DataFrame combinado:

,codigo,cod_sector,fecha,design,pantone,cantidad,suc,temporada_venta,descrip
0,B0001,101,2021-02-05,No definido,13-1022,1.50,5,Primavera-Verano,JERSEY ELIZABETH
1,B0001,101,2021-06-21,No definido,13-1022,0.90,5,Otonho-Invierno,JERSEY ELIZABETH
2,B0001,101,2022-12-09,No definido,14-0244,1.00,30,Primavera-Verano,JERSEY ELIZABETH
3,B0001,101,2022-12-19,No definido,14-0244,2.00,30,Primavera-Verano,JERSEY ELIZABETH
4,B0001,101,2023-02-08,No definido,14-0244,1.14,30,Primavera-Verano,JERSEY ELIZABETH
...,...,...,...,...,...,...,...,...,...
1844706,S0286,104,2023-08-21,FLORAL,19-4010,5.00,4,Otonho-Invierno,FIBRANA CREPE ESTAMPADA
1844707,S0286,104,2023-08-22,FLORAL,19-4010,2.00,4,Otonho-Invierno,FIBRANA CREPE ESTAMPADA
1844708,S0286,104,2023-08-18,HOJAS,19-4025,2.00,1,Otonho-Invierno,FIBRANA CREPE ESTAMPADA
1844709,S0286,104,2023-08-19,HOJAS,19-4025,0.70,1,Otonho-Invierno,FIBRANA CREPE ESTAMPADA
1844710,S0286,104,2023-08-23,NEUTRO,11-0601,1.05,24,Otonho-Invierno,FIBRANA CREPE ESTAMPADA

In [30]:
cantidad_nan_en_descrip = datos_combinados['descrip'].isna().sum()
print(f"La cantidad de valores NaN a eliminar son: {cantidad_nan_en_descrip}")
datos_combinados= datos_combinados.dropna()

La cantidad de valores NaN a eliminar son: 95318

In [34]:
cantidad_nan_total = datos_combinados.isna().sum()
print(f"La cantidad total de valores NaN en el DataFrame es: {cantidad_nan_total}")

La cantidad total de valores NaN en el DataFrame es: codigo             0
cod_sector         0
fecha              0
design             0
pantone            0
cantidad           0
suc                0
temporada_venta    0
descrip            0
dtype: int64

In [37]:
datos_combinados["descrip"].unique().shape

(794,)

In [38]:
productos_mas_vendidos = datos_combinados.groupby('descrip')['cantidad'].sum().reset_index()

# Ordenar el DataFrame por la cantidad de mayor a menor
productos_mas_vendidos = productos_mas_vendidos.sort_values(by='cantidad', ascending=False)

In [39]:
print("Tabla de productos más vendidos:")
productos_mas_vendidos

Tabla de productos más vendidos:

                     descrip      cantidad
171              DIOLEN LISO  1.728196e+06
354              JERSEY SEDA  1.341781e+06
736   TROPICAL MECANICO LISO  1.153866e+06
610              POPLIN LISO  7.019977e+05
1                    ACETATO  6.772880e+05
..                       ...           ...
633       RIBB LIVIANO RAYAS  1.000000e+00
172       DIOLEN LISO ELUNEY  9.500000e-01
319  HILOS RUSTICO ESTAMPADO  8.800000e-01
537      PANHO LANA JASPEADO  7.000000e-01
642        SATEN DOBLE OPACO  6.600000e-01

[794 rows x 2 columns]

In [43]:
# Encontrar la compra individual con mayor cantidad
compra_maxima = datos_combinados.loc[datos_combinados['cantidad'].idxmax()]
compra_maxima

codigo                                H0201
cod_sector                              102
fecha                            2021-07-16
design                                 LISO
pantone                             19-4057
cantidad                            1064.36
suc                                       5
temporada_venta             Otonho-Invierno
descrip            ACCESORIO CINTA TAPIZADO
Name: 729258, dtype: object

In [45]:
# Calcular la cantidad promedio de compra
cantidad_promedio = round(datos_combinados['cantidad'].mean(),3)
cantidad_promedio

8.745

In [40]:
# Encontrar la compra individual con menor cantidad
compra_minima = datos_combinados.loc[datos_combinados['cantidad'].idxmin()]
compra_minima

codigo                       C0051
cod_sector                     103
fecha                   2023-03-18
design                        LISO
pantone                    19-4008
cantidad                      0.03
suc                             30
temporada_venta    Otonho-Invierno
descrip                SCUBA CREPE
Name: 917947, dtype: object

In [46]:
datos_combinados.shape

(1749393, 9)

In [54]:
suma_ventas_por_tela = datos_combinados.groupby('descrip')['cantidad'].sum()

# Filtrar las telas cuya suma total de ventas sea menor a 5
telas_a_eliminar = suma_ventas_por_tela[suma_ventas_por_tela < 10000].index

# Contar la cantidad de filas que serán eliminadas
filas_eliminadas = datos_combinados[datos_combinados['descrip'].isin(telas_a_eliminar)].shape[0]

# Eliminar las filas correspondientes a las telas a eliminar
datos_combinados = datos_combinados[~datos_combinados['descrip'].isin(telas_a_eliminar)]

# Imprimir el DataFrame resultante y la cantidad de filas eliminadas
print("DataFrame después de eliminar telas con suma de ventas menor a 5:")
print(f"Se eliminaron {filas_eliminadas} filas.")

DataFrame después de eliminar telas con suma de ventas menor a 5:
Se eliminaron 357557 filas.

In [55]:
datos_combinados

,codigo,cod_sector,fecha,design,pantone,cantidad,suc,temporada_venta,descrip
0,B0001,101,2021-02-05,No definido,13-1022,1.50,5,Primavera-Verano,JERSEY ELIZABETH
1,B0001,101,2021-06-21,No definido,13-1022,0.90,5,Otonho-Invierno,JERSEY ELIZABETH
2,B0001,101,2022-12-09,No definido,14-0244,1.00,30,Primavera-Verano,JERSEY ELIZABETH
3,B0001,101,2022-12-19,No definido,14-0244,2.00,30,Primavera-Verano,JERSEY ELIZABETH
4,B0001,101,2023-02-08,No definido,14-0244,1.14,30,Primavera-Verano,JERSEY ELIZABETH
...,...,...,...,...,...,...,...,...,...
1833620,S0253,104,2022-10-18,LISO,11-0601,4.00,2,Primavera-Verano,POPLIN POCKET
1833621,S0253,104,2022-10-20,LISO,11-0601,1.50,2,Primavera-Verano,POPLIN POCKET
1833622,S0253,104,2022-10-21,LISO,11-0601,5.00,2,Primavera-Verano,POPLIN POCKET
1833623,S0253,104,2022-10-25,LISO,11-0601,3.00,2,Primavera-Verano,POPLIN POCKET
1833624,S0253,104,2022-11-10,LISO,11-0601,3.00,2,Primavera-Verano,POPLIN POCKET

In [59]:
top_tela = productos_mas_vendidos.head(1)['descrip']

# Filtrar el DataFrame original para incluir solo las filas de la tela más vendida
datos_top1_tela = datos_combinados[datos_combinados['descrip'].isin(top_tela)]

# Imprimir el DataFrame resultante con los datos de las 5 telas más vendidas
print("DataFrame con datos de la tela más vendida:")
datos_top1_tela

DataFrame con datos de la tela más vendida:

,codigo,cod_sector,fecha,design,pantone,cantidad,suc,temporada_venta,descrip
1679672,S0180,104,2022-07-29,LISO,19-3952,1.40,25,Otonho-Invierno,DIOLEN LISO
1679673,S0180,104,2021-09-08,LISO,19-4008,3.00,1,Primavera-Verano,DIOLEN LISO
1679674,S0180,104,2021-09-08,LISO,19-4008,1.20,1,Primavera-Verano,DIOLEN LISO
1679675,S0180,104,2021-09-09,LISO,19-4008,2.00,1,Primavera-Verano,DIOLEN LISO
1679676,S0180,104,2021-09-11,LISO,19-4008,20.00,1,Primavera-Verano,DIOLEN LISO
...,...,...,...,...,...,...,...,...,...
1782187,S0180,104,2021-04-15,LISO,19-3952,1.10,2,Otonho-Invierno,DIOLEN LISO
1782188,S0180,104,2023-07-31,LISO,19-4008,2.50,4,Otonho-Invierno,DIOLEN LISO
1782189,S0180,104,2023-08-01,LISO,19-4008,2.50,4,Otonho-Invierno,DIOLEN LISO
1782190,S0180,104,2023-08-01,LISO,19-4008,2.00,4,Otonho-Invierno,DIOLEN LISO
1782191,S0180,104,2023-08-08,LISO,19-4008,42.66,4,Otonho-Invierno,DIOLEN LISO

In [61]:
datos_top1_tela.columns

Index(['codigo', 'cod_sector', 'fecha', 'design', 'pantone', 'cantidad', 'suc',
       'temporada_venta', 'descrip'],
      dtype='object')

Procedemos a entrenar los modelos orientados a la tela mas vendida

In [64]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.metrics import mean_squared_error
import numpy as np


# Dividir los datos en características (X) y la variable objetivo (y)
X = datos_top1_tela[['temporada_venta']]
y = datos_top1_tela['cantidad']

# Dividir los datos en conjuntos de entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Definir el preprocesamiento para variables categóricas (one-hot encoding)
preprocessor = ColumnTransformer(
    transformers=[('cat', OneHotEncoder(), ['temporada_venta'])],
    remainder='passthrough'
)

# Crear un pipeline con preprocesamiento y regresión lineal
model = Pipeline(steps=[('preprocessor', preprocessor),
                        ('regressor', LinearRegression())])

# Entrenar el modelo
model.fit(X_train, y_train)

# Realizar predicciones en el conjunto de prueba
y_pred = model.predict(X_test)

# Calcular el error cuadrático medio
mse = mean_squared_error(y_test, y_pred)
print(f"Error cuadrático medio en el conjunto de prueba: {mse}")

# Hacer una predicción para una nueva temporada (por ejemplo, 'Otoño-Invierno')
nueva_temporada = pd.DataFrame({'temporada_venta': ['Otonho-Invierno']})
cantidad_predicha = model.predict(nueva_temporada)

print(f"Predicción de cantidad para 'Otoño-Invierno': {cantidad_predicha[0]}")

Error cuadrático medio en el conjunto de prueba: 1030.2729463591118
Predicción de cantidad para 'Otoño-Invierno': 17.0594482421875

In [67]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.metrics import mean_squared_error
import numpy as np

# Dividir los datos en características (X) y la variable objetivo (y)
X = datos_top1_tela[['temporada_venta']]
y = datos_top1_tela['cantidad']

# Dividir los datos en conjuntos de entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Definir el preprocesamiento para variables categóricas (one-hot encoding)
preprocessor = ColumnTransformer(
    transformers=[('cat', OneHotEncoder(), ['temporada_venta'])],
    remainder='passthrough'
)

# Crear un pipeline con preprocesamiento y Random Forest Regressor
model = Pipeline(steps=[('preprocessor', preprocessor),
                        ('regressor', RandomForestRegressor(random_state=42))])

# Entrenar el modelo
model.fit(X_train, y_train)

# Realizar predicciones en el conjunto de prueba
y_pred = model.predict(X_test)

# Calcular el error cuadrático medio
mse = mean_squared_error(y_test, y_pred)
print(f"Error cuadrático medio en el conjunto de prueba: {mse}")

# Hacer una predicción para una nueva temporada (por ejemplo, 'Otoño-Invierno')
nueva_temporada = pd.DataFrame({'temporada_venta': ['Otonho-Invierno']})
cantidad_predicha = model.predict(nueva_temporada)

print(f"Predicción de cantidad para 'Otoño-Invierno': {cantidad_predicha[0]}")

Error cuadrático medio en el conjunto de prueba: 1030.2838241048005
Predicción de cantidad para 'Otoño-Invierno': 16.43808294633281

In [66]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVR
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.metrics import mean_squared_error


# Dividir los datos en características (X) y la variable objetivo (y)
X = datos_top1_tela[['temporada_venta']]
y = datos_top1_tela['cantidad']

# Dividir los datos en conjuntos de entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Definir el preprocesamiento para variables categóricas (one-hot encoding)
preprocessor = ColumnTransformer(
    transformers=[('cat', OneHotEncoder(), ['temporada_venta'])],
    remainder='passthrough'
)

# Crear un pipeline con preprocesamiento y LinearSVR
model = Pipeline(steps=[('preprocessor', preprocessor),
                        ('regressor', LinearSVR(random_state=42))])

# Entrenar el modelo
model.fit(X_train, y_train)

# Realizar predicciones en el conjunto de prueba
y_pred = model.predict(X_test)

# Calcular el error cuadrático medio
mse = mean_squared_error(y_test, y_pred)
print(f"Error cuadrático medio en el conjunto de prueba: {mse}")

# Hacer una predicción para una nueva temporada (por ejemplo, 'Otoño-Invierno')
nueva_temporada = pd.DataFrame({'temporada_venta': ['Otonho-Invierno']})
cantidad_predicha = model.predict(nueva_temporada)

print(f"Predicción de cantidad para 'Otoño-Invierno': {cantidad_predicha[0]}")

Error cuadrático medio en el conjunto de prueba: 1227.5054306427724
Predicción de cantidad para 'Otoño-Invierno': 3.000000000001801

In [68]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.metrics import mean_squared_error

# Suponiendo que ya tienes el DataFrame datos_tela_mas_vendida
# Asegúrate de haber ejecutado el código anterior para obtener datos_tela_mas_vendida

# Dividir los datos en características (X) y la variable objetivo (y)
X = datos_top1_tela[['temporada_venta']]
y = datos_top1_tela['cantidad']

# Dividir los datos en conjuntos de entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Definir el preprocesamiento para variables categóricas (one-hot encoding)
preprocessor = ColumnTransformer(
    transformers=[('cat', OneHotEncoder(), ['temporada_venta'])],
    remainder='passthrough'
)

# Crear un pipeline con preprocesamiento y GradientBoostingRegressor
model = Pipeline(steps=[('preprocessor', preprocessor),
                        ('regressor', GradientBoostingRegressor(random_state=42))])

# Entrenar el modelo
model.fit(X_train, y_train)

# Realizar predicciones en el conjunto de prueba
y_pred = model.predict(X_test)

# Calcular el error cuadrático medio
mse = mean_squared_error(y_test, y_pred)
print(f"Error cuadrático medio en el conjunto de prueba: {mse}")

# Hacer una predicción para una nueva temporada (por ejemplo, 'Otoño-Invierno')
nueva_temporada = pd.DataFrame({'temporada_venta': ['Otonho-Invierno']})
cantidad_predicha = model.predict(nueva_temporada)

print(f"Predicción de cantidad para 'Otoño-Invierno': {cantidad_predicha[0]}")

Error cuadrático medio en el conjunto de prueba: 1030.2836650931486
Predicción de cantidad para 'Otoño-Invierno': 17.101042512610015

Se logra observar que los datos son bastante malos, pero muy probablemente se deba a la estructura que llevan, lo ideal seria que separemos el dataset en estaciones y trabajemos con nada temporada que transcurrio a lo largo de cada año, lo que nos quedaria en un bloque para cada temporada.